
<div class="container-fluid">

  <%= render 'form' %>

  <div class="row">
    
    <% @object.each do |obj| %>
      <!-- Carte -->
      <div class="col s12 m5">
        <div class="card horizontal hoverable">
          <div class="card-image">
            <img src="<%= obj.img %>" class="responsive-img" style="max-width:150px">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="card-title"><%= obj.title %>
              (<%= obj.id %>)</p>
              <p class="small"><%= obj.description %></p>
            </div>
            <div class="card-action">
              <%= link_to 'Visiter', obj.url %>
              <%= link_to 'Editer', edit_link_path(obj) %>
              <%= obj.created_at.strftime("Ajouté le %d/%m/%Y à %Hh%M") %>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de la carte -->
    <% end %>
  </div> 
  
</div>

