
<div class="container-fluid">
  <!-- Rendu du formulaire d'ajout -->
  <%= render 'form' %>

  <div class="row">
   <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
        <div class="background">
          <img src="http://materializecss.com/images/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
      </li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i>MENU</a>
  
  <script>
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();  
  </script>
  
  
    <div class="col m2 hide-on-small-only">
      <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">grade</i> Layouts</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="layout-fullscreen.html">Full Screen</a></li>
                <li><a href="layout-horizontal-menu.html">Horizontal Menu</a></li>
              </ul>
            </div>
          </li>
      </ul>  
    
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle">
            <span class="title">Mieux notés</span>
            <p>Les sites les mieux notés</p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Liens morts</span>
            <p>Sites qui ne fonctionnent plus</p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Non catégorisé</span>
            <p>Sites sans catégorie</p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Catégorie 1</span>
            <p>Sites de la Catégorie 1</p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
    </div>

    <div class="col s12 m10">
      <!-- Teal page content  -->
    
      <% @object.each do |obj| %>
        <!-- Carte -->
        <div class="col s12 m5">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <img src="<%= obj.img %>" class="responsive-img" style="max-width:150px">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="card-title"><%= obj.title %></p>
                <p><%= obj.description %></p>
              </div>
              <div class="card-action">
                <%= link_to 'Visiter', obj.url %><span class="new badge" data-badge-caption="Nouveau"><%= obj.visit_nb %></span>
                <%= link_to 'Editer', edit_link_path(obj) %>
                <%= obj.created_at.strftime("Ajouté le %d/%m/%Y à %Hh%M") %>
              </div>
            </div>
          </div>
        </div>
        <!-- fin de la carte -->
      <% end %>
    </div>
    
  </div>
  <div class="pagination center">
    <div class="page_info">
      <%= page_entries_info @object %>
    </div>
    <%= will_paginate @object %>
  </div>

  
</div>

