<div class="container">
  <%= form_for(@link) do |f| %>
    <% if @link.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
    
        <ul>
        <% @link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
      <div class="row">
         <div class="input-field col s3">
          <%= image_tag @link.img, style: "max-width:150px" %>
        </div>
        <div class="input-field col s5">
          <%= f.text_field :title, id: "title", class: "validate" %>
        </div>
        <div class="input-field col s5">
          <%= f.text_field :description, id: "desc", class: "validate" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :url, id: "url", class: "validate" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :img, id: "image", class: "validate" %>
        </div>
      </div>
    
    <div class="actions">
      <%= f.submit "Valider", class: "waves-effect waves-light btn" %>
    </div>
  <% end %>

</div>
