<div class="container">
  <p id="notice"><%= notice %></p>
  
  <table class="highlight responsive">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Catégorie</th>
        <th colspan="4"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.url %></td>
          <td><%= link.updated_at.strftime("Ajouté le %d/%m/%Y à %Hh%M") %></td>
          <td>
            <% if link.category.nil? %>
              <%= link_to 'Ajouter une catégorie', root_path %>
            <% else %>
              <%= link.category.name %>
            <% end %>
          </td>
          <td><%= link_to link_update_path(link) do %><i class="small material-icons">autorenew</i><% end %></td>
          <td><%= link_to 'Voir', link, class: "btn waves-effect waves-light" %></td>
          <td><%= link_to 'Editer', edit_link_path(link), class: "btn waves-effect waves-light blue" %></td>
          <td><%= link_to 'Supprimer', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-light red" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>