<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Links - The LinkManager WebApp</title>

  <!-- CSS  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://materializecss.com/bin/materialize.js"></script>
  <script src="https://materializecss.com/templates/starter-template/js/init.js"></script>
  
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
  
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><%= link_to "Links", root_path, id: "logo-container", class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Admin', links_path %></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Admin</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  

  <div class="container-fluid">
    <div class="section">

     <%= yield %>

    </div>
    <br><br>
  </div>

  <footer class="page-footer blue">
    <div class="container-fluid">
      <div class="row">
        <div class="col l10 s12 offset-l2">
          <h6 class="white-text">Qui suis-je ?</h6>
          <p class="grey-text text-lighten-4">Xennial, je suis un geek qui s'amuse avec le code (ruby on rails) pour me simplifier la vie au quotidien.</p>


        </div>
        <!-- à voir plus tard -->
        <div class="col l3 s12">
          <!--<h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>-->
        </div>
        <div class="col l3 s12">
          <!--<h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>-->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <i class="material-icons">favorite</i> using <a href="https://materializecss.com/" class="grey-text text-lighten-4">Materialize CSS</a>
      </div>
    </div>
  </footer>
  </body>
</html>
